.main_menu {
	text-align: center;
	position: relative;
  height: 4em;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #c94e5d;
  z-index: 2;
  /*
   vertical-align by default baseline.
   if i give overflow-x auto it makes a break after element
   If we give vertical-align: top; it solved the problem
   */
  overflow-x: auto;
  vertical-align:top; 
  white-space: nowrap;
  display: inline-block;
  a {
		display: inline-block;
		font-size: 20px;
		padding:15px;
		box-sizing: border-box;
	  color: white;
	  text-decoration: none;
	  position: relative;
	  &:hover {
			text-decoration: underline;
	  }
	  &:after {
			content: "";
			width: 2px;
			height: 30px;
			background: rgba(255, 255, 255, .4);
			position: absolute;
			top: 14px;
			right: -5px;
	  }
		&:last-child:after {
		  height: 0;
		  width: 0;
		}
  }
}
