.main_menu_wrapper {
  position: relative;
  vertical-align: top;
}

.main_menu {
  text-align: center;
  height: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #c94e5d;
  z-index: 2;
  /*
   vertical-align by default baseline.
   if i give overflow-x auto it makes a break after element
   If we give vertical-align: top; it solved the problem
   */
  overflow-x: auto;
  vertical-align: top;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu a {
  display: inline-block;
  font-size: 20px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  text-decoration: none;
  position: relative;
}

.main_menu a:hover {
  text-decoration: underline;
}

.main_menu a:after {
  content: "";
  width: 2px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 14px;
  right: -5px;
}

.main_menu a:last-child:after {
  height: 0;
  width: 0;
}

.main_menu .navigation_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_menu .navigation_form #search_result {
  position: absolute;
  display: none;
  top: 100%;
  z-index: 100;
  left: 10%;
  width: 80%;
  height: auto;
  right: auto;
  background: #fff;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  border: 0 solid #dae1e7;
  padding: 5px;
  text-align: left;
}

.main_menu .navigation_form #search_result p {
  margin: 0;
  padding: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  color: #c94e5d;
}

.main_menu .navigation_form #search_result ul {
  margin: 0;
  padding: 0px 10px;
  list-style: none;
}

.main_menu .navigation_form #search_result ul li a {
  font-size: 14px;
  color: #333;
  padding: 0;
}

.main_menu .form_div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.main_menu .form_div input {
  padding: 5px;
  color: #c94e5d;
  width: 200px;
}

.main_menu .form_div input:focus {
  outline: 1px solid #c94e5d;
}

.main_menu .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.main_menu .logo a {
  border: 1px solid white;
  display: inline-block;
  background: salmon;
}

.wrapper {
  position: relative;
}

#sidebar {
  background: beige;
  border-right: 1px solid tomato;
  width: 270px;
  height: calc(100vh - 60px);
  display: block;
  float: left;
}

#sidebar .sidebar_auto_scroll {
  height: 100%;
  overflow-y: auto;
  vertical-align: top;
}

#sidebar #sidebar-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  #sidebar {
    float: none;
    position: absolute;
    left: -270px;
    top: 0px;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }

  #sidebar.visible {
    left: 0px;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }

  #sidebar #sidebar-btn {
    display: inline-block;
    background: #c94e5d;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    padding: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 0px;
    right: -42px;
  }

  #sidebar #sidebar-btn span {
    height: 2px;
    background: white;
    margin-bottom: 5px;
    display: block;
  }

  #sidebar #sidebar-btn span:nth-child(2) {
    width: 75%;
  }

  #sidebar #sidebar-btn span:nth-child(3) {
    width: 50%;
  }
}

.content_area {
  width: calc(100vw - 270px);
  float: right;
}

@media screen and (max-width: 768px) {
  .content_area {
    width: 100%;
    float: none;
  }
}

